@use "../constants";

#explore {
  font-family: constants.$primary-font;
  padding: 7rem 100px 3rem 100px;
  text-align: center;
  #title {
    font-weight: 500;
    font-size: 2rem;
  }
  #dormCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 0;
  }
}
@media screen and (max-width: 767px) {
  #explore {
  padding: 5rem 32px;
  }
}