@use "../constants";

#explore {
  font-family: constants.$primary-font;
  padding: 64px 100px;
  #dorm-name {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0;
  }
  #dorm-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: constants.$light-primary-color;
    height: 70vh;
    width: 100%;
  }
  #explore-more-dorms {
    #header {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 2rem 0;
    }
    #dorms-container {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 767px) {
  #explore {
    padding: 64px 32px;
  }
}