@use "/styles/constants.scss";
@use "/styles/Team/breakpoints.scss";

#team {
	font-family: constants.$primary-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  #team-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(14rem + 64px);
    background-image: linear-gradient(rgba(black, 0.2), rgba(black, 0.2)), url("/Team/team-header.png");
    background-position: center;
    padding-top: 64px;
    #header-title {
      color: white;
      font-weight: 600;
      font-size: 4rem;
      text-shadow: 0 0 8px rgb(0 0 0 / 60%);
    }
  }
  #main {
    padding: 32px 100px;
    #summary {
      margin-bottom: 52px;
      #summary-title {
        color: #0C6DA7;
        font-weight: 600;
        font-size: 2rem;
      }
      #summary-text {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 1rem;
      }
    }
    #founder {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      margin-top: 4rem;
      padding: 1rem 0;
      #founder-wrapper {
        flex: 1;
      }
      #founder-title {
        font-size: 3.5rem;
      }
      #founder-text {
        font-size: 1.5rem;
        line-height: 2.2rem;
        height: auto;
        overflow: hidden;
        margin-top: 0.5rem;
        transition: 0.5s;
      }
      #text-toggler {
        font-family: constants.$primary-font;
        font-weight: 500;
        font-size: 1.5rem;
        color: #B7B7B7;
        background-color: inherit;
        border: none;
        margin: 0.75rem 0 0 0;
        padding: 0;
        cursor: pointer;
      }
      #founder-img {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 544px;
      }
    }
    .split {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 95px;
    }
  }

  #footer {
    display: flex;
    align-items: flex-start;
    padding: 5%;

    #footer-img {
      flex: 1;
      padding-top: 20px;
      padding: 20px 5px 20px 0;
    }
    
    #footer-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      padding: 0 0 20px 5px;

      #content-title {
        font-size: 3rem;
        color: constants.$primary-color;
      }
      #content-text {
        font-size: 1.25rem;
        line-height: 2.15rem;
      }
      #content-list {
        columns: 2;
        .list-item {
          font-weight: 400;
          font-size: 1.75rem;
          line-height: 2.5rem;
          margin-bottom: 15px;
          color: #0C6DA7;
          .black {
            color: black;
          }
        }
      }
      #content-socials {
        display: flex;
        gap: 3%;
        margin-top: 30px;
        .social-link {
          cursor: pointer;
        }
      }
      #contact-btn {
        font-family: constants.$primary-font;
        font-weight: 500;
        font-size: 1rem;
        width: 170px;
        height: 64px;
        color: constants.$primary-color;
        background-color: white;
        border: constants.$primary-color 3px solid;
        border-radius: 8px;
        margin-top: 40px;
        cursor: pointer;
        transition: .2s;
      }
      #contact-btn:active {
        background-color: constants.$primary-color;
        color:white;
        transition: .2s;
      }
    }
  }

}

// tablet formatting
@media screen and (max-width: breakpoints.$tablet) {
  #team {
    #team-header {
    height: 12rem;
      #header-title {
        font-size: 3rem;
      }
    }
    #main {
      padding: 7.5%;
      #summary {
        #summary-title {
          font-size: 1.5rem;
        }
        #summary-text {
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }
      #founder {
        display: flex;
        flex-direction: column;
        align-items: center;
        #founder-wrapper {
          display: contents;
        }
        #founder-title {
          font-size: 3rem;
          order: 1;
        }
        #founder-text {
          font-size: 1.25rem;
          line-height: 2rem;
          order: 3;
        }
        #text-toggler {
          order: 4;
        }
        #founder-img {
          order: 2;
          margin-top: 1rem;
        }
      }
    }
    #footer {
      #footer-img {
        display: none;
      }
      #footer-content {
        #content-title {
          text-align: center;
          font-size: 2.5rem;
        }
        #content-text {
        font-size: 1.15rem;
        line-height: 2rem;
        }
        #content-list {
          columns: 2;
          .list-item {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 2.25rem;
            margin-bottom: 15px;
          }
        }
        #content-socials {
          justify-content: center;
        }
        #btn-wrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

// mobile formatting
@media screen and (max-width: breakpoints.$mobile) {
  #team {
    #team-header {
    height: 10rem;
      #header-title {
        font-size: 2rem;
      }
    }
    #main {
      padding: 10%;
      #summary {
        #summary-title {
          font-size: 1.25rem;
        }
        #summary-text {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      #founder {
        #founder-title {
          font-size: 2.5rem;
        }
        #founder-text {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
    #footer {
      #footer-content {
        #content-title {
          font-size: 2.25rem;
        }
        #content-text {
        font-size: 0.85rem;
        line-height: 1.85rem;
        }
        #content-list {
          columns: 2;
          .list-item {
            font-weight: 700;
            font-size: 1rem;
            line-height: 2rem;
            margin-bottom: 15px;
          }
        }
      }
    } 
  }
}

@media screen and (max-width: 767px) {
  #team {
    #main {
      padding: 16px 32px;
    }
  }
}

@media screen and (max-width: 1672px) {
  #team {
    #main {
      .split {
        justify-content: center;
      }
    }
  }
}