.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .carousel {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    .slideWrapper {
      display: flex;
      transition: 0.3s;
    } 
  }
  .indexBtnContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 15px;
      background-color: white;
      opacity: 50%;
      margin: auto;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    .left {
      left: 1rem;
      transform: rotate(180deg);
    }
    .right {
      right: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .carouselWrapper {
    .indexBtnContainer {
      .arrow {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .carouselWrapper {
    .carousel {
      padding: 1rem 0;
    }
    .indexBtnContainer {
      gap: 1rem;
      margin-top: 1rem;
      .arrow {
        height: 15px;
        width: 15px;
      }
      .left {
        left: 1rem;
      }
      .right {
        right: 1rem;
      }
    }
  }
}